<section class="card">
  <a href="/post/{{id}}">
    <header>{{name}}</header>
  </a>
  <p>{{body}}</p>
  {{#each comments as |comment|}}
  <a href="/comment/{{id}}">
    <header>{{body}}</header>
  </a>
  {{/each}}


</section>